
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

a {
    color: #BB86FC;
}

@media (max-width: 520px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .ascii-art {
        font-family: monospace;
        white-space: pre;
        font-size: 1vw;
        line-height: 1vw;
        width: 100vw;
        overflow: hidden;
    }
}

@media (min-width: 520px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
        margin-right: 38%;
        padding: 20px;
    }

    .ascii-art {
        top: 0;
        font-family: monospace;
        white-space: pre;
        font-size: 0.7vh;
        line-height: 0.7vh;
        position: fixed;
        overflow: hidden;
        height: 100vh;
        margin-left: 55%;
    }
}
